/* Daniela Castorena 2024 */
/* Portfolio - Footer.css */

footer {
    position: relative;
    left: 0;
    width: 100%; 
    padding: 20px;
    margin-top: 40px;
    background-color: rgb(72, 72, 72);
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }