/* Daniela Castorena 2024 */
/* Portfolio - App.css */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

@media (max-width: 768px) {
    .container {
        padding: 0 10px;
    }
}

body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    background-color: #ff69b4;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

#my-name {
    font-family: 'Great Vibes', cursive;
    color: rgb(255, 255, 255);
    font-size: 4rem;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.profile-picture img {
    display: block;
    margin: 20px auto;
    width: 220px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

main {
    padding: 20px;
    text-align: center;
    scroll-behavior: smooth;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.sticky-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 20px;
    font-size: 2em;
    z-index: 10;
}

.section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.skills-section {
    margin: -15px 0 -30px;
}

.projects-section {
    margin: -15px 0 -15px;
}

.contact-section {
    margin: -120px 0;
}

.custom-hr {
    width: 100%;
    margin: 0px auto;
    border: 1px solid #ffffff;
}
